body {padding:0;margin:0 2px 0 2px;background:#777;font-family:Arial;}

/* system name shadowing */
.shadowed {
    /*filter: url(#drop-shadow);*/
    filter: drop-shadow(4px 4px 4px rgba(0,0,0,.5));
}

/* system, # of games */
.count {
	color:#fff;	
	font-size:20px;
	font-weight:900;
	margin-bottom:9px;	
	padding:3px 0 6px 0;
	position:relative;
	text-align: center;
	text-shadow:-2px -2px 1px rgba(0,0,0,1),-2px 2px 1px rgba(0,0,0,1),2px -2px 1px rgba(0,0,0,1),2px 2px 1px rgba(0,0,0,1),-2px 0 1px rgba(0,0,0,1),0 -2px 1px rgba(0,0,0,1),2px 0 1px rgba(0,0,0,1),0 2px 1px rgba(0,0,0,1);
	width:100%;
}

/* menu */
#menu {	
	background-color:transparent;
	color:rgba(255,255,255,.5);
	height:auto;
	list-style:none;
	padding:9px 5px 1px 10px;
	position:fixed;
	top:0;
	z-index:999;
}

#menu_icon {
	font-weight:900;
	font-size:60px;
	text-align:left;
	cursor:pointer;
	left:15px;
	position:relative;
}
#menu_icon2 {
	background-color:transparent;
	color:rgba(255,255,255,.5);
	height:auto;
	list-style:none;
	padding:9px 5px 1px 10px;
	position:fixed;
	top:0;
	z-index:999;	
	font-size:40px;
	text-align:right;
	cursor:pointer;
	right:15px;
}

#menu_icon2 a {
	color:rgba(255,255,255,.5);
	border-radius:0;
	display:inline-block;
	height:auto;
	padding:0;
	margin:0;
	width:auto;
	text-decoration:none;
}

#menu_icon2 a.active, #menu_icon2 a:hover {
	background: transparent;
}

#menu_list {
	display:none;
}

#menu_list > a {
	border-radius:12px;
	display:inline-block;
	height:56px;
	padding:0 5px 0 5px;
	margin:0 5px 5px 0;
	width:140px;
}

a#id {
	display: none;
}
a.active, a:hover {
	background: linear-gradient(0deg, rgba(128,128,128,1) 0%, rgba(203,203,203,1) 100%);
}

img.menu {
	display:flex;
	position:relative;	
	top:50%;
	transform:translateY(-50%);
	vertical-align:middle;
	width:140px;
}

/* main container */
#galley {
	/*background-color:cyan;*/
	display: grid;
	position:relative;
	grid-gap:0;
}

/* system wheel image */
#system_header {
	margin:15px 0 10px 0;
}

@media screen and (max-width: 800px) {
	#system_header {
		width:250px;
	}
}


/* genre select */
select {
	font-size:20px;
	height: 1.7em;
	font-weight:900;
	margin-left:3px;
	margin-bottom:.3em;
	color: white;
	background-color:#777;
	border:0;
	text-shadow:-2px -2px 1px rgba(0,0,0,1),-2px 2px 1px rgba(0,0,0,1),2px -2px 1px rgba(0,0,0,1),2px 2px 1px rgba(0,0,0,1),-2px 0 1px rgba(0,0,0,1),0 -2px 1px rgba(0,0,0,1),2px 0 1px rgba(0,0,0,1),0 2px 1px rgba(0,0,0,1);
	cursor:pointer;
}

option {
	cursor:pointer;
}

/* game container */
div.scroll {
display:none;
}
/* game container */
div.galley_c {	
	background: linear-gradient(0deg, rgba(105,105,105,1) 0%, rgba(128,128,128,1) 5%, rgba(196,196,196,1) 95%, rgba(220,220,220,1) 100%);
	border-top:1px solid #fff;
	border-bottom:3px solid #333;
	border-radius:12px;
	box-shadow:0 0 3px 0 rgba(0,0,0,0.6), 4px 4px 8px 0 rgba(0,0,0,0.3);
	cursor:pointer;	
	display:grid;
	padding:10px;
	place-content:center;
	margin:0 4px 5px 4px;
}

@media screen and (max-width: 800px) {
	div.galley_c {	
		margin:0 2px 2.5px 2px;
	}
}

/* game wheel image */
div.galley_c img {	
	width: 100%;
}

/* video overlay */
#fade {
	background-color: black;
	cursor:pointer;	
	display: none;	
	left:0;	
	height:100%;
	opacity:0;	
	position: fixed;
	top:0;
	width: 100%;
	z-index: 900;
}

/* video box */
#light {
	cursor:pointer;
	display: block;
	padding:0;
	left:50%;
	opacity:0;
	position: fixed;
	transform:translateX(-50%) translateY(-50%);	
	width:55%;
	z-index: 901;
	/*
	display:grid;
	place-items:center;
	*/
}

@media screen and (max-width: 800px) {
	#light {
		width:450px;
	}
}

/* video */
#VisaChipCardVideo {
	width:100%;
	z-index: 902;
}

video {
	border-radius:18px;	
	box-shadow: 0px 0px 36px 15px rgba(255,255,255,0.6);
	border: 6px solid #000;
	object-fit: cover;
}

/* video decoration container */
#videoDesc {
	position:absolute;
	left:50%;
	text-align: center;
	transform:translateX(-50%);
	z-index: 903;	
}

/* video decoration image */
#videoDesc img {
	background: linear-gradient(0deg, rgba(75,75,75,1) 0%, rgba(150,150,150,1) 100%);
	border: 6px solid #000;
	border-radius:12px;
	padding:10px;
	transform:translateY(-57%);	
	width:200px;
}

@media screen and (max-width: 800px) {
	#videoDesc img {
		width:125px;
	}
}

/* video decoration text */
#videoDesc p {	
	bottom:0;
	color:#bbb;
	font-size:14px;
	font-weight:900;
	position:relative;
	text-shadow:-2px -2px 0 rgba(0,0,0,1),-2px 2px 0 rgba(0,0,0,1),2px -2px 0 rgba(0,0,0,1),2px 2px 0 rgba(0,0,0,1);
}

#videoDesc p span {
	font-size:16px;
}